@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

*{
    scroll-behavior: smooth;
}

:root {
    --color-alfa: white;
    --color-beta: black;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    border: 1px solid var(--color-beta);
}
