.navigation__container {
    background-color: rgb(40, 40, 40); 
}

.navigation__row {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navigation__logo . navigation";
    max-width: 900px;
    margin: 0 auto;
}

.navigation__logo {
    grid-area: navigation__logo;
}

.navigation {
    grid-area: navigation;
}

.hamburger {
    width: 5vw;
    height: 3vh;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: relative;
    /* transition: 0.3s transform linear;   for future update */
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #ffffff;
    transform: translateY(5px);
}

.hamburger::after {
    transform: translateY(15px);
    /* transition: 0.3s transform linear;    for future update */
}

.logo {
    width: auto;
    margin-left: 2%;
    height: 50%;
}

.section__container {
    background-image: url(./images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.section__row {
    display: grid;
    height: 100%;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section__text section__photo";
    max-width: 900px;
    margin: 0 auto;
}

.section__text {
    margin-left: 10%;
    grid-area: section__text;
    height: 100%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

.section__photo {
    grid-area: section__photo;
    height: 100%;
}

.first__header {
    color: var(--color-alfa);
    padding: 5% 2%;
}

.first__paragraph {
    color: var(--color-alfa);
    padding-left: 2%;
    padding-bottom: 5%;
}

.section__button {
    background-color: #37EBED;
    border: none;
    margin-left: 2%;
    color: var(--color-alfa);
    font-size: 1.2rem;
    height: 8vh;
    border-radius: 10px;
    margin-top: 5%;
    width: 50%;
}

.photo__size {
    max-height: 90%;
    width: 85%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-top: 5%;
}

.container__icons {
    margin-bottom: 10%;
}

.row {
    max-width: 900px;
    margin: 0 auto;
}

.section__header {
    grid-area: section__header;
    text-align: center;
    margin-bottom: 12%;
    padding: 0px 24%;
}

.section__icons {
    grid-area: section__icons;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}

.icons__width {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.icon__size {
    height: 110px;
    width: 110px;
    border-radius: 20px;
}

.position__icons {
    text-align: center;
    padding: 20px;
}

.blue__icon {
    background: linear-gradient(90deg, rgba(3,130,245,1) 0%, rgba(88,175,255,1) 100%);
}

.orange__icon {
    background: linear-gradient(90deg, rgba(253,173,92,1) 0%, rgba(253,143,94,1) 100%);}

.green__icon {
    background-color: rgb(55, 239, 141);
}

.list__text {
    font-size: 1.5rem;
    padding: 40px 10px;
}



.main__row {
    margin-top: 10%;
    max-width: 900px;
    margin: 0 auto;
}

.main__row--grid {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main__text main__photo";
}

.main__text {
    grid-area: main__text;
    text-align: center;
    margin: 0 2%;
    margin-bottom: 15%;
}

.main__photo {
    grid-area: main__photo;
    margin-top: 25%;
}

.main__paragraph {
    text-align: justify;
    margin: 0 2%;
}

.main__button {
    float: left;
    margin-top: 10%;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 12%;
    margin-left: 2%;
    color: var(--color-alfa);
    font-size: 1.2rem;
    background-color: rgb(1, 129, 245);
}


.section__opacity--background {
    background: url(./images/banner/testmonial.png);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(1, 129, 245);
    position: relative;
    text-align: center;
    margin-top: 20px;
    max-height: 100%;
    width: auto;

}

.section__opacity--background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(93,178,255,0.8);
}

.opacity__position {
    color: white;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.stars__opinion {
    position: relative;
    top: 36%;
}

.text__opinion {
    color: var(--color-alfa);
    float: right;
    font-size: 1rem;
}

.fas {
    color: rgb(255, 211, 90);
}

.first__text {
    top: 20%;
}

.second__text {
    top: 30%;
}