.header__background {
    background-color: rgb(40, 40, 40); 
}

.header__row {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header__logo  . navigation";
    max-width: 900px;
    margin: 0 auto;
}

.header__logo  {
    grid-area: header__logo ;
}

.navigation {
    grid-area: navigation;
}

.hamburger {
    width: 5vw;
    height: 3vh;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #ffffff;
    transform: translateY(5px);
}

.hamburger::after {
    transform: translateY(15px);
    transition: 0.3s transform linear;
}

input {
    display: none;
}

input:checked + .hamburger + .navigation__list {
     display: block;
}

input:checked + .hamburger {
    transform: rotate(45deg) translateY(10px); 
    border: none;
}

input:checked + .hamburger::after {
    transform: rotate(-90deg) translateX(-5px);
}

.navigation__list {
    display: none;
    position: absolute;
    width: 50%;
    right: 0%;
    top: 10%;
    background-color: var(--color-beta);
    height: 100vh;
    opacity: 0.95;
    clip-path: ellipse(74% 70% at 90% 24%);
    text-align: center;
    color: var(--color-alfa);
}

.navigation__item {
    padding: 20px 2%;
    font-size: 1.6rem;
    transition: .8s;
}

.navigation__item > a {
    text-decoration: none;
    color: var(--color-alfa);
}

.navigation__item:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

.header__button {
    display: none;
}

.text__title {
    background-image: url(./images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.text__title--position {
    display: grid;
    height: 100%;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text__content header__photo";
    max-width: 900px;
    margin: 0 auto;
}

.text__content {
    margin-left: 10%;
    grid-area: text__content;
    height: 100%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

.header__photo {
    grid-area: header__photo;
    height: 100%;
}

.content__header {
    color: var(--color-alfa);
    padding: 5% 2%;
}

.content__description {
    color: var(--color-alfa);
    padding-left: 2%;
    padding-bottom: 5%;
}

.content__button {
    background-color: #37EBED;
    border: none;
    margin-left: 2%;
    color: var(--color-alfa);
    font-size: 1.2rem;
    height: 8vh;
    border-radius: 10px;
    margin-top: 5%;
    width: 50%;
}

.header__photo--size {
    max-height: 90%;
    width: 85%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-top: 5%;
}

.section__icons {
    margin-bottom: 10%;
}

.row {
    max-width: 900px;
    margin: 0 auto;
}

.section__text {
    grid-area: section__text;
    text-align: center;
    margin-bottom: 12%;
    padding: 0px 24%;
}

.list {
    grid-area: list;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}

.list__icons {
    width: 30%;
    flex-direction: column;
}

.list__icon--size  {
    height: 110px;
    width: 110px;
    border-radius: 20px;
}

.position__icons {
    text-align: center;
    padding: 20px;
}

.list__icon--blue {
    background: linear-gradient(90deg, rgba(3,130,245,1) 0%, rgba(88,175,255,1) 100%);
}

.list__icon--orange {
    background: linear-gradient(90deg, rgba(253,173,92,1) 0%, rgba(253,143,94,1) 100%);}

.list__icon--green {
    background-color: rgb(55, 239, 141);
}

.list__text {
    font-size: 1.5rem;
    padding: 40px 10px;
}

.article__row {
    margin-top: 10%;
    max-width: 900px;
    margin: 0 auto;
}

.article__row--grid {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "article__text article__photo";
}

.article__text {
    grid-area: article__text;
    text-align: start;
    margin: 0 2%;
    margin-bottom: 15%;
}

.article__photo {
    grid-area: article__photo;
    margin-top: 25%;
}

.article__paragraph {
    text-align: justify;
    margin: 0 2%;
}

.article__button {
    float: left;
    margin-top: 10%;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 12%;
    margin-left: 2%;
    color: var(--color-alfa);
    font-size: 1.2rem;
    background-color: rgb(1, 129, 245);
}

.section__background {
    background: url(./images/banner/testmonial.png);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(1, 129, 245);
    position: relative;
    text-align: center;
    margin-top: 20px;
    max-height: 100%;
    width: auto;

}

.section__background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(93,178,255,0.8);
}

.section__text--position {
    color: white;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.section__rate {
    position: relative;
    top: 36%;
}

.section__opinion {
    color: var(--color-alfa);
    font-size: 1rem;
}

.fas {
    color: rgb(255, 211, 90);
}

.section__text--first {
    top: 20%;
}

.section__text--second {
    top: 30%;
}

.main__container {
    height: 80vh;
}

.main__container--inside {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6%;
}

.main__offer {
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 60%);
    margin-bottom: 20px;
    width: 32%;
    height: 44vh;
}

.main__row {
    max-width: 900px;
    margin: 0 auto;
}

.main__text {
    text-align: center;
    margin-top: 16%;
}

.main__header {
    margin: 20px 0;
}

.main__paragraph {
    margin: 15px 2%;
}

.main__list {
    text-align: center;
}

.main__title {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.main__basic--div {
    background-color: rgb(233, 244, 254);
}

.main__team--div {
    background-color: rgb(254, 244, 238);
}

.main__team {
    height: 50vh;
}

.main__business--div {
    background-color: rgb(232, 252, 241);
}

.main__span {
    padding: 0 30px;
    font-weight: 500;
}

.main__basic--span {
    color: rgb(25, 159, 248)
}

.main__team--span{
    color: rgb(253, 187, 182)    
}

.main__business--span{
    color: rgb(3, 211, 108);
}

.main__item {
    padding: 14px 0;
}

.main__button {
    border-radius: 5px;
    border-color: rgb(1, 129, 245);
    color: rgb(1, 129, 245);
    width: 44%;
    height: 5vh;
    background-color: white;
    border: 1px solid;
    font-size: 1rem;
    margin-top: 14px;
}

.section--blue {
    background-color: rgb(93, 178, 255);
    height: 60vh;
}

.section__row--blue {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section__div";
    max-width: 900px;
    margin: 0 auto;
}

.section__header--blue {
    margin-bottom: 20px;
}

.section__div {
    grid-area: section__div;
    text-align: center;
    color: white;
    margin: auto;
}

.section__container--black {
    background-color: rgb(40, 40, 40);
    height: 92vh;
}

.section__row--black {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "section__applab section__services"
    "section__links section__download";
    color: var(--color-alfa);
    max-width: 900px;
    margin: 0 auto;
    padding: 10%;
}

.section__applab {
    grid-area: section__applab;
}

.section__services {
    grid-area: section__services;
    
}

.section__links {
    grid-area: section__links;
}

.section__download {
    grid-area: section__download;
}

.section__container--space {
    margin: 26px 0;
}

.icon {
    color: rgb(199, 199, 199);
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    border-color: rgb(86, 86, 86);
    background-color: rgb(86, 86, 86);
    margin: 15px 5px;
    width: 38px;
    height: 38px;
    text-align: center;
    text-decoration: none;
}

.section__item--bold-font {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px 0;
}

.margin__item--font {
    font-size: 100%
}

.section__container--space-left {
    margin-left: 40px;
}



.footer {
    background-color: var(--color-beta);
}

.footer__row {
    text-align: center;
    height: 10vh;
    width: auto;
    color: var(--color-alfa);
    margin: 0 auto;
    max-width: 900px;
}

.footer__rights {
    font-size: 0.8rem;
    margin: auto;
}

.footer__creators {
    color: rgb(35, 119, 226);
}

.footer__div {
    height: 100%;
    display: grid;
}